*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Nav section  */

section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(151, 156, 59);
}

section nav{
    width: 100vw;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
}

section nav img{
    width: 22vw;
    height: 20vh;
    margin: 0px 10px 0px 10px;
}

section nav ul{
    width: 72vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px 10px 0px 10px;
}

/* En esta parte, no he terminado de justificar y alinear el contenido de la forma adecuada */

section nav ul li{
    width: 12vw;
    height: 8vh;
    text-align: center;
}

section nav ul li a{
    font-size: large;
    text-align: center;
    text-decoration: none;

}

/* Despues de hacer varias pruebas no he conseguido el resultado deseado */

section .title-site{
    width: 100vw;
    height: 80vh;
    background-image: url(/assets/sala\ de\ Bar.jpg);
    background-size: 100vw 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section main p{
    font-size: larger;
    color: white;
}
section main h1{
    font-size: xx-large;
    color: white;
}
section main h2{
    font-size: larger;
    color: white;
}

/*  sección de CONCEPTO */

.concept{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(/assets/textura2.png);
    background-size: 100vw 100VH;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .conten-concept{
    width: 60vw;
    height:60vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section .conten-concept h2{
    font-size: larger;
    align-items: center;
    justify-items: center;
}
section .conten-concept p{
    padding: 10px 20px;
    text-align: center;
    justify-items: center;
    font-size: large;
}

section .galery{
    background-image: url(/assets/bar-baviera.jpg);
    background-size: 100vw 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section img{
    width: 28vw;
    height: auto;
    margin: 10px;
}

section .carta{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}























